/* início do css3*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

:root {
    --cor-primaria: #667eea;
    --cor-secundaria: #764ba2;
    --cor-fundo: #f8f9fa;
    --cor-branca: #ffffff;
    --cor-texto-principal: #333;
    --cor-texto-secundario: #555;
    --cor-sucesso: #27ae60;
    --cor-erro: #e74c3c;
    
    /* Fontes */
    --fonte-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.75rem;
    --fs-p: 1rem;
    --fs-small: 0.875rem;

    /* Espaçamentos */
    --esp-1: 8px;
    --esp-2: 16px;
    --esp-3: 24px;
    --esp-4: 32px;
    --esp-5: 48px;
    --esp-6: 64px;

    /* Bordas */
    --border-radius: 8px;
    --sombra-suave:: 0 4px 20px rgba(0, 0, 0, 0.08);

}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-texto-principal);
    line-height: 1.6;
}

h1, h2, h3   {
    font-size: var(--fs-h1);
    margin-bottom: var(--esp-2);
    color: var(--cor-secundaria)
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}   

p {
    font-size: var(--fs-p);
    margin-bottom: var(--esp-2);
    color: var(--cor-texto-secundario);
}

a {
    color: var(--cor-primaria);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    
    display:grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "nav";
}

header {
    grid-area: header;
    background-color: var(--cor-branca);
    padding: var(--esp-2) var(--esp-4);
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 250px;
    height: auto;
}

nav {
    grid-area: nav;
    background-color: var(--cor-secundaria);
    padding: var(--esp-2) var(--esp-4);
}

nav h2 {
    positiyon: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav ul li {
    display: block;
    padding: var(--esp-2);
    color: var(--cor-branca);
    text-decoration: none;
    front-weight: none;
    transition: all 0.3s ease;
}

nav ul li:hover {
    background-color: var(--cor-primaria);
    transform: translateY(-2px);
    text-decoration: none;
}

main {
    grid-area: main;
    padding: var(--esp-4) var(--esp-2);
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
